body {
    padding-top: 10px;
    }
    [class*="col-"], .line-error{
        
    border-radius: 6px;
    text-align: center;
    }
    .line-error{
        color: lightcoral;
        word-wrap: 100%;
        font-weight: bold;
    }
    .header{
        width: 100%;
        display: flex;
        font-size: 15px;
    }
    .line-logo{
        height: 60px;
        width: 50px;
        background-image: url('../../public/images/logo.png'); 
        background-size: 25px;
        position: relative;
        top:2px;
    }
    .connexion-bloc{
        margin: auto;
        background-color: #F5F0F0;
        border-radius: 10px;
        position: relative; 
        margin-top: 40px; 
        padding-bottom: 20px; 
    }
    .pseudo_bloc{
        position: relative;
        top:20px; 
    }
    label{
        float:left;
       position: relative;
       top:10px;
    }
    .line-pseudo{
        background-image: url('../../public/icones/ic-login.png');   
    }
    .line-pass{
        background-image: url('../../public/icones/ic-password.png');     
    }
    .line-pseudo,.line-pass,.line-logo{
        background-repeat: no-repeat; 
        position: relative;    
    }
    input{
        text-align: center;
    }
    .input_form{
        border:none;
        background-color: #F5F0F0;
        border-bottom: 2px solid black;
    }
    .line-pseudo,.line-pass{
        height: 20px;
        top:40px;
        left:10px;   
    }
    .form-group{
        height: 80px;
        
    }
    .inscription{
        position: relative;
        top: 10px;
    }
    @media screen and  (min-width: 660px)  {
    
        .connexion-bloc2{
            display: flex;
            flex-direction: row-reverse;
        }
        .inscription{
            
            top: -6px;
            bottom: 100px;
        }
        .connect{
            
        }
        .logo_big{
            height: 200px;
            background-image: url('../../public/images/logo.png'); 
            background-repeat: no-repeat;
            background-size: 80px;
            position: relative;
            top: 40px; 
            left: 80px; 
        
    
        }
    }
    
    
    
    